*{
    font-family: Inter, sans-serif;
}
.bodyy{
    
    background-color: rgba(245, 245, 245);

}
.header{
    background-color: #000000;
    font-size: 16px;
}
.texto-color a{
    color: white;
}
.texto-color .nav-link:hover {
    color: white;
    background: none ; 
}

.contenido1-titulo{
    margin-top: 50px;
}
.text-center h4{
    font-weight:600;
    color: blue;
    padding-bottom: 10px;
}
.fuente p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.precio-edit{
    color:rgb(40, 40, 229) ;
}


.footer{
    margin-top: 70px;
    background-color: #000000;   
    color: white;
}



.card-body {
    display: flex;
    flex-direction: column;
}
/* 2. Empujamos el precio hacia el fondo (arrastrando también al botón) */
.card-body .precio-edit {
    margin-top: auto;   
    margin-bottom: 15px;
}



.descripcion{
    margin-top: 90px;
    margin-bottom: 90px;
}


#informacion h1{
    font-weight: bold;
    color: blue;
}
#informacion p{
    text-align: justify;
}


@media (min-width: 768px) {
    .linea-divisoria {
        border-left: 2px solid #adb1b6;
        height: 80%; 
        margin-top: auto;
        margin-bottom: auto;
        
    }
}

@media screen and (max-width: 992px) {
    #informacion p{
        padding-left: 50px;
        padding-right: 50px;
    }
    .descripcion{
        margin-top: 50px;
    }
}






