*{
    font-family: Inter, sans-serif;
}
.bodyy{
    
    background-color: rgba(245, 245, 245);

}
.header{
    background-color: #000000;
    font-size: 16px;
}
.texto-color a{
    color: white;
}

.contenido1-titulo{
    margin-top: 50px;
}
.text-center h4{
    font-weight:600;
    color: blue;
    padding-bottom: 10px;
}
.fuente p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.precio-edit{
    color:rgb(40, 40, 229) ;
}


.footer{
    margin-top: 60px;
    background-color: #000000;   
    color: white;
}


.card-body {
    display: flex;
    flex-direction: column;
}

.card-body .precio-edit {   /*empujamos el precio hacia el fondo */
    margin-top: auto;   
    margin-bottom: 15px;
}



.descripcion{
    margin-top: 90px;
    margin-bottom: 90px;
}


#informacion h1{
    font-weight: bold;
    color: blue;
}
#informacion p{
    text-align: justify;
}

.linea div{
    border: 1px solid red;
}

.banco-estado{
    padding-top: 5px;
}
.webpay{
    padding-top: 5px;
}
.visa{
    padding-top: 7px;
}

.texto-pago{
    font-weight: bold;
    font-size: 15px;
}

.horario{
    margin-top: 70px;
}


.linea{
    border: 1px solid red;
}

/* clases del nuevo diseño */

.diseños-general{
    margin-top: 70px;
}
.titulos p{
    font-size:25px;
    color: #E11D48;
    font-weight:bolder;
}
.color-btn a{
    background-color: #E11D48;
    border: none;
}
.color-dinero {
    color: #E11D48 !important;
}

@media (min-width: 768px) {
    .linea-divisoria {
        border-left: 2px solid #adb1b6;
        height: 80%; 
        margin-top: auto;
        margin-bottom: auto;
        
    }
}

@media screen and (max-width: 992px) {
    #informacion p{
        padding-left: 50px;
        padding-right: 50px;
    }
    .descripcion{
        margin-top: 50px;
    }
}






