*{
    font-family: Inter, sans-serif;
}
.header{
    background-color: #000000;
    font-size: 16px;
}
.texto-color a{
    color: white;
}
.texto-color .nav-link:hover {
    color: white;
    background: none ; /* Asegura que no se cree un fondo */
}


.footer{
    background-color: #000000;   
    color: white;
}

.container-xxl div{
    border: 1px solid red;
}



